
body{font-family:Arial;margin:0;background:#f4f4f4}
.header{background:#f57c00;color:#fff;text-align:center;padding:15px}
.menu{display:flex;gap:10px;padding:10px;justify-content:center;flex-wrap:wrap}
button{padding:10px;border:none;border-radius:8px;background:#0d47a1;color:#fff}
.page{display:none;padding:15px}
.active{display:block}
#poster{width:100%;max-width:900px;display:block;margin:auto;border-radius:10px}
.nav{text-align:center;margin-top:15px}
li{cursor:pointer;margin:8px 0}
